spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/user_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      hibernate.jdbc.batch_size: 50
      hibernate.order_updates: true
      hibernate.order_inserts: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5s
  cache:
    type: redis


jwt:
  secret: SuperMegaDuperCrazyMazyDazySecretWordLongEnoughIHope
  expiration: 3600000

server:
  port: 8080
logging:
  level:
    org.flywaydb: DEBUG
